@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body, ion-content {
  font-family: 'League Spartan', sans-serif;
}

h1{
    font-family: League Spartan;
    font-size: 34px;
    line-height:42px;
    padding-left:10px;
    color:#FFFFFF;
    text-align:center;
    font-weight:600;
}
h6{
    font-family: League Spartan;
    font-size: 16px;
    line-height:20px;
    padding-left:10px;
    color:#B2B2B2;
    text-align:center;
    font-weight:600;
}
h5{
    font-family: League Spartan;
    font-weight: 500;
    font-size: 20px;
    line-height:18.4px;
    padding-left:10px;
    color:#FFFFFF;
    text-align:center;
    margin-top:100px;
}
.white-icons{
    color:#fff;
}
ion-content {
    --background: #17191b;
}
.devicesection{
    margin-top: 80px;
    --background: #242629 !important;
}
.offcirclebtn{
    --background:#791878 !important;
    text-transform:none;
    padding:15px;
    height: 130px;
    width:130px;
    margin-top:2%;
}
.circlebtn{
    text-align:center;
}
.officon{
   font-size:160px;
}
.ai-button {
  width: 150px;
  height: 45px;
  border: 1px solid #fff; 
  border-radius: 22.5px; 
  margin-right: 10px;
  --background: black !important;
  color: #ffffff !important;
  text-transform: none;
}
.offbtn{
  width: 150px;
  height:45px;
  color:#000;
  --background: #ffffff !important;
  padding-left: 10px;
  font-weight:bold;
  text-transform: none;
}
.btnarea{
text-align:center;
  margin-top:60%;
}