
<ion-content [fullscreen]="true">

<div class="devicesection">
    <h1>Test the Remote</h1>
    <h6>Testing 1 of 8 Remote</h6>
</div>

  <h5>Did the AC turn on?</h5>

  <div class="circlebtn">
    <ion-button class="offcirclebtn" shape="round" [routerLink]="['/test-remote']">
      <ion-icon class="officon white-icons" src="assets/svgicon/swichofficon.svg"></ion-icon>
    </ion-button>
  </div>

     <div class="btnarea">
       <ion-button class="ai-button" shape="round">No</ion-button> 
      <ion-button class="offbtn" shape="round" [routerLink]="['/remote-control-coolwith-ai']">  Yes </ion-button> 
    </div>



</ion-content>
