
<ion-content [fullscreen]="true">

<div class="headersection">
    <div class="profile">
      <ion-row>
        <ion-col size="9">
            <h1>John Doe</h1>
            <p>johndoe&#64;email.com</p>
        </ion-col>
        <ion-col size="3">
             <ion-button class="settingbtn" shape="round" [routerLink]="['/setting']"> <ion-icon class="white-icons" slot="icon-only" name="settings-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </div> 

    <div class="weather-forcast">
      <ion-row>
        <ion-col size="6">
            <ion-icon class="weathericon white-icons"  src="assets/svgicon/weather.svg"> </ion-icon>
        </ion-col>
        <ion-col size="6">
            <h4> <ion-icon class="white-icons" slot="icon-only" name="location-outline"></ion-icon> Richmond</h4>
            <p class="wp"> <ion-icon class="white-icons"  src="assets/svgicon/temperature.svg"> </ion-icon> 27°C . <ion-icon class="white-icons"  src="assets/svgicon/humidity.svg"> </ion-icon> 79%</p>
        </ion-col>
      </ion-row>
    </div> 
</div>


<div class="devicesection">
    <ion-card>
        <ion-button class="addbtn" shape="round" [routerLink]="['/home-device-added']"> <ion-icon class="white-icons" slot="icon-only" name="add-outline"></ion-icon></ion-button>
      <ion-card-content>
        <span> Add a device </span>
    </ion-card-content>
  </ion-card>   
</div>



</ion-content>
