@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body, ion-content {
  font-family: 'League Spartan', sans-serif;
}
h1{
    line-height:5px;
    padding-left:10px;
    color:#fff;
    font-family: League Spartan;
    font-size: 34px;
    font-weight: 600;
    line-height: 22px;
    text-align: left;

}
.profile p{
    color:#898a8b;
    padding-left:10px;
    font-size:14px;
}

h5{
    padding-left:35px;
    color:#FFFFFF;
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 500;
    line-height: 18.4px;
    text-align: left;

}
.white-icons{
    color:#fff;
}
ion-content {
    --background: #17191b;
}

.headersection{
    padding-top: 20px;
    --background: #242629 !important;
}
.settingbtn{
   --background: #434343 !important;
    height: 40px;
    margin-top: 20px;
    font-size: 14px;
}

.icobgn{
    --background:#434343 !important;
}

.weathericon{
    width:52px;
    height:52px;
    padding-left:10px;
    margin-top: 10px;
}
.weather-forcast p{
   padding-left:25px; 
   color:#898a8b;
}

.devicesection{
    margin-left:25%;
}
ion-card{
    width: 170px;
    height:160px;
    --background: #242629;
    --color: #fff;
    margin-top: 40%;
    border-radius: 20px;
    text-align:center;
}
.addbtn{
    --background:#434343 !important;
    font-weight: bold;
    margin-top: 20%;
}