<ion-toolbar class="black-toolbar">
  <ion-buttons slot="start">
    <ion-back-button class="white-icons" defaultHref="/"></ion-back-button>
  </ion-buttons>    
  <ion-title></ion-title>
  <ion-buttons slot="end">
    <ion-button [routerLink]="['/geo-fence']">
      <ion-icon class="headericon" src="assets/svgicon/locationicon.svg"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/schedule']">
      <ion-icon class="headericon" src="assets/svgicon/clockicon.svg"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/setting']">
       <ion-icon class="headericon" src="assets/svgicon/setting-icon.svg"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="bedroom-ac-section">
    <div class="bedroom-ac-left">
     <img src="assets/images/air-conditionar.png" alt="Air Conditioner">
      <div>
        <span class="item">Bedroom AC</span>
        <span class="item-dtl">Daikin AXRT0082AR</span>
      </div>
    </div>
    <div class="bedroom-ac-right">
      <ion-icon class="white-icons" name="chevron-down-outline"></ion-icon>
    </div>
  </div>

<div id="container">

   <div class="temp-display-section">
    <ion-row class="temp-display">
      <ion-col size="9">
        <span class="outdoor-temp">{{ temperature }}°C OUTDOOR</span>
        <h1>{{ temperature }}°C</h1>
        <h6>{{ temperature + 2 }}°C indoor</h6>
      </ion-col>
      <ion-col size="3">
        <ion-icon class="arrowup" src="assets/svgicon/uparrow.svg" (click)="increaseTemperature()"></ion-icon>
        <ion-icon class="arrowdown" src="assets/svgicon/downarrow.svg" (click)="decreaseTemperature()"></ion-icon>
      </ion-col>
    </ion-row>
  </div>


    <div class="gradientbg">
        <div class="aitext"> <ion-icon class="aitxtico" src="assets/svgicon/aitxticon.svg"></ion-icon> Ai Mode Activated</div>

        <div class="savetxt">
          <h5>Saved 25wt today</h5>
        </div>

         <div class="btnarea">
          <ion-button class="swingbtn" expand="full" shape="round">V. Swing <ion-toggle class="onoffbtn" slot="end" color="success" checked> </ion-toggle>   </ion-button>

          <ion-button class="ai-button" shape="round"> <ion-icon slot="end" class="white-icons" slot="icon-only" src="assets/svgicon/ai-icon.svg"></ion-icon> <span class="aiofftxt">Turn Off </span></ion-button>           

          <ion-button class="ai-button-off" shape="round"> <ion-button class="officonbtn" shape="round"> <ion-icon class="white-icons" slot="icon-only" src="assets/svgicon/swichofficon.svg"></ion-icon> </ion-button> <span class="offtxt">OFF</span> </ion-button>  

       
        </div>
    </div>

</div>

</ion-content>

