
h1{
    font-size: 20px;
    line-height:15px;
    padding-left:10px;
    color:#f5f5f5;
    text-align:center;
}
h6{
    font-size: 11px;
    line-height:5px;
    padding-left:10px;
    color:#8a8b8b;
    text-align:center;
}
.blueicon{
    margin-top:15px;
    margin-left:-15px;
}
.white-icons{
    color:#fff;
}
ion-content {
    --background: #17191b;
}
.headersection{
    margin-top: 30px;
    --background: #242629 !important;
}
.nextbtn{
    --background:#63676f !important;
    text-transform:none;
    padding:15px;
    height: 75px;
    margin-top:30%;
}
.circlesection{
    margin-top:20%;
    text-align: center;
}
.circleimg{
    margin-top:30px;
}
.midcircle{
    
}

