@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body, ion-content {
  font-family: 'League Spartan', sans-serif;
}

h1{
    padding-left:10px;
    color:#FFFFFF;
    font-family: 'League Spartan';
    font-size: 34px;
    font-weight: 600;
    line-height: 42px;
}
h6{
    font-size: 11px;
    line-height:5px;
    padding-left:10px;
    color:#B2B2B2;
    text-align:center;
    font-family: League Spartan;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;

}
.devicesection{
    text-align: center;
}
.blueicon{
    margin-top:15px;
    margin-left:-15px;
}
.white-icons{
    color:#fff;
}
ion-content {
    --background: #17191b;
}
.headersection{
    margin-top: 30px;
    --background: #242629 !important;
}
.nextbtn{
    width: 353px;
    --background:#63676f !important;
    text-transform:none;
    padding:15px;
    height: 83px;
    margin-top:440px;
    margin-left: 20px;
}
.circlesection {
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: -50px;
}
.circleone, .circletwo, .circlethree {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #2C2E30;
  animation: animateBorder 3s linear infinite;
}
.circleone {
  width: 332px;
  height: 332px;
  top: 50px;
  left: 31px;
  opacity: 0.4;
}
.circletwo {
  width: 238px;
  height: 238px;
  top: 50px;
  left: 48px;
}

.circlethree {
  width: 144px;
  height: 144px;
  margin-left: 50px;
  margin-top: 50px;
  background: radial-gradient(50% 50% at 50% 50%, #191A1B 0%, #242627 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circleimg {
  position: relative;
  z-index: 1;
}

/* Keyframes for border animation */
@keyframes animateBorder {
  0% {
    border-color: #2C2E30;
  }
  50% {
    border-color: #3385d7;
  }
  100% {
    border-color: #3385d7;
  }
}
