h3{
    padding-left:10px;
    color:#7b1879;
    font-size:17px;
    margin-top: 70px;
}
h1{
    padding-left:10px;
    color:#fff;
}
ion-content {
    --background: #17191b;
}

ion-input {
 color:#4c4f55;
 --background: #242629 !important; 
}

.ioninput{
    padding-left:15px;
    padding-right:15px;
}

.nextbtn{
 height: 75px;
 padding:15px;
 --background: #791878 !important;
 text-transform: none;
}

.google-sign{
    text-align:center;
    margin-top: 45%;
    text-transform: none;
}

.ortext{
    color:#3b3f43;
    margin-bottom:10px;
}
.signbtn{
    height: 50px;
    padding-left:15px;
    padding-right:15px;
    --background: #242629;
    text-transform:none;
}

.privacy-policy{
    margin-top:25px;
}
.privacy-policy p{
    font-size:12px;
    color:#545556;
}
.prvtext{
     color:#a5a2a2;
}
.trmtext{
     color:#a5a2a2;
}