@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body, ion-content {
  font-family: 'League Spartan', sans-serif;
}
.accelimg{
    padding-left:20px;
    color:#7b1879;
    font-size:17px;
    margin-top: 70px;
}
h1{
    padding-left:20px;
    color: #FFFFFF;
    font-family: League Spartan;
    font-weight:600;
    line-height:42px;
    font-size:34px;
}
ion-content {
    --background: #17191b;
}

ion-input {
 width:340px;
 height:50px;
 color:#63676F;
 --background: #242629 !important; 
}

.ioninput{
    margin-top: 50px;
    padding-left:15px;
    padding-right:15px;
}

.nextbtn{
 width:117px;
 height: 75px;
 padding:15px;
  font-family: League Spartan;
 --background: #791878 !important;
 text-transform: none;
}

.google-sign{
    text-align:center;
    margin-top: 45%;
    text-transform: none;
}

.ortext{
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 400;
    line-height: 18.4px;
    text-align: center;
    color: #6C6C6C;
    margin-bottom:10px;
}
.signbtn{
    width: 353px;
    height: 58px;
    radius: 90px;
    gap: 10px;
    padding:16px, 24px, 16px, 24px;
    --background: #242629;
    text-transform:none;
}
.googlesignimg{
    height:24px;
    width:24px;
    padding-right: 5px;
}
.signtext{
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 500;
    line-height: 18.4px;
    text-align: center;

}

.privacy-policy{
    margin-top:25px;
}
.privacy-policy p{
    font-family: League Spartan;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color:#545556;
}
.prvtext{
     color:#B2B2B2;
;
}
.trmtext{
     color:#a5a2a2;
}