@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body, ion-content {
  font-family: 'League Spartan', sans-serif;
}
.accelimg{
    margin-left:20px;
    color:#7b1879;
    font-size:17px;
    margin-top: 70px;
}
h1{
    margin-left:20px;
    color: #FFFFFF;
    font-family: League Spartan;
    font-weight:600;
    line-height:42px;
    font-size:34px;
}
ion-content {
    --background: #17191b;
}
.ioninput {
  margin-top: 50px;
}
.inputbtn {
  width: 353px;
  height: 58px;
  border-radius: 90px 90px 90px 90px; 
  padding: 20px 24px; 
  background-color: #242629; 
  color: #63676F; 
  border: 1px solid #2D323A; 
  margin-left:20px;
  --padding-start: 20px;
}
ion-input {
  --background: transparent !important; // Make the background transparent to avoid overriding
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  color: inherit; // Inherit color from .inputbtn
  text-transform: none;
  width: 100%; // Ensure the input fills the button
  height: 100%; // Ensure the input fills the button
}

.nextbtn{
 width:135px;
 height: 80px;
 padding:15px;
  font-family: League Spartan;
 --background: #791878 !important;
 text-transform: none;
 margin-left: 10px;
 color: #FFFFFF;
}

.google-sign{
    text-align:center;
    margin-top: 45%;
    text-transform: none;
}

.ortext{
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 400;
    line-height: 18.4px;
    text-align: center;
    color: #6C6C6C;
    margin-bottom:10px;
}
.signbtn{
    width: 353px;
    height: 58px;
    radius: 90px;
    gap: 10px;
    margin-left: 20px;
    padding:16px, 24px, 16px, 24px;
    --background: #242629;
    text-transform:none;
    color: #FFFFFF;
}
.googlesignimg{
    height:24px;
    width:24px;
    padding-right: 5px;
}
.signtext{
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 500;
    line-height: 18.4px;
    text-align: center;

}

.privacy-policy{
    margin-top:25px;
}
.privacy-policy p{
    font-family: League Spartan;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color:#545556;
}
.prvtext{
     color:#B2B2B2;
;
}
.trmtext{
     color:#a5a2a2;
}

.btninput {
  width: 305px;
  height: 58px;
  border-radius: 90px 90px 90px 90px; 
  padding: 2px 2px; 
  background-color: #242629; 
  color: #63676F; 
  border: 1px solid #2D323A; 
  --padding-start: 20px;
}
.btnnext{
 width:135px;
 height: 80px;
 padding:15px;
  font-family: League Spartan;
 --background: #791878 !important;
 text-transform: none;
 color: #FFFFFF;
 margin-left: -15px;
}