
  <ion-toolbar class="black-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="white-icons" defaultHref="/"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>

<ion-content [fullscreen]="true">
  <img class="accelimg" src="assets/images/ASG_Accel Smart logo 1.png">
  <h1>Let's make your <br> AC smart today</h1>

  <div class="ioninput">
    <ion-input 
      class="inputbtn" 
      [type]="showPassword ? 'text' : 'password'" 
      placeholder="Enter password" 
      expand="full">
      <ion-icon 
        class="eye-icon" 
        [name]="showPassword ? 'eye-off' : 'eye'" 
        slot="end" 
        (click)="togglePasswordVisibility()">
      </ion-icon>
    </ion-input>
  </div>


    <ion-button class="nextbtn" shape="round" [routerLink]="['/home-blank']"> Next <ion-icon class="white-icons" slot="end" name="chevron-forward-outline"></ion-icon></ion-button>

    <div class="google-sign">
      <div class="ortext" [routerLink]="['/login-new-password']"> Forgot Password </div>

      <div class="privacy-policy">
        <p>
          By signing in you are agreeing to our <span class="prvtext"> Privacy Policy </span> <br> 
          and <span class="trmtext">Terms & Conditions</span>
        </p>
      </div>
    </div>
 

</ion-content>

