<ion-header [translucent]="true">
  <ion-toolbar class="black-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="white-icons" defaultHref="/"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3>accel smart</h3>
  <h1>Let's make your <br> AC smart today</h1>

  <div class="ioninput">
    <ion-input placeholder="  Enter password " shape="round">  </ion-input>
  </div>

    <ion-button class="nextbtn" shape="round" [routerLink]="['/home-blank']"> Next <ion-icon class="white-icons" slot="end" name="chevron-forward-outline"></ion-icon></ion-button>

    <div class="google-sign">
      <div class="ortext" [routerLink]="['/login-new-password']"> Forgot Password </div>

      <div class="privacy-policy">
        <p>
          By signing in you are agreeing to our <span class="prvtext"> Privacy Policy </span> <br> 
          and <span class="trmtext">Terms & Conditions</span>
        </p>
      </div>
    </div>
 

</ion-content>

