
<ion-content [fullscreen]="true">

<div class="headersection">
      <ion-row>
        <ion-col size="9">
            <h1>Reset the device</h1>
        </ion-col>
        <ion-col size="3">
            <ion-icon class="blueicon white-icons"  src="assets/svgicon/bluetooth.svg"> </ion-icon>
        </ion-col>
      </ion-row>
</div>

<form class="formsection">
  <ion-textarea rows="7"></ion-textarea>
</form>

<div class="textsection">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. </p>  

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>  

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

  <div class="confirmcheck">
    <ion-checkbox></ion-checkbox> 
    <label class="chheckboxtext">Confirm the indicator is blinking rapidly</label>
  </div>

  <ion-button class="nextbtn" expand="full" shape="round" [routerLink]="['/pairing-two']"> Next
    <ion-icon class="white-icons" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>

  <h6> Reset Device Step by Step </h6>


</ion-content>
