@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body, ion-content {
  font-family: 'League Spartan', sans-serif;
}

h1{
    padding-left:10px;
    color:#FFFFFF;
    font-family: League Spartan;
    font-size: 34px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
}
h6{
    font-size: 12px;
    line-height:5px;
    padding-left:10px;
    color:#FFFFFF;
    text-align:center;
}
.blueicon{
    margin-top: 35px;
    margin-left: 50px;
    width:20px;
    height:20px;
}
ion-textarea {
    background: #2c2e2f;
    border-radius: 10px;
    color:#fff;
}
.white-icons{
    color:#fff;
}
ion-content {
    --background: #17191b;
}
.formsection{
    margin-top:5px;
    padding:20px;
}
.headersection{
    margin-top: 50px;
    margin-bottom: -25px;;
    --background: #242629 !important;
}
.textsection{
    padding-left:20px;
    padding-right:20px;
    margin-top: -10px;
}
.textsection p{
    text-align:justify;
    font-family: League Spartan;
    font-size: 16px;
    font-weight: 300;
    line-height: 15px;
    color:#B2B2B2;
}
.nextbtn{
    --background:#791878 !important;
    text-transform:none;
     width: 353px;
    height:88px;
    top: 711px;
    left: 20px;
    padding: 20px 24px 20px 24px;
    gap: 8px;
    border-radius: 90px 0px 0px 0px;
    opacity: 0px;
}
.confirmcheck {
  padding-left: 50px;
  padding-right: 20px;
  margin-top: 50px;
  display: flex;
}

ion-checkbox {
  --background: #594747 !important;
  box-sizing: border-box;
}

.chheckboxtext {
  color: #B2B2B2;
  font-size: 14px;
  margin-left: 10px;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}

