@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body, ion-content {
  font-family: 'League Spartan', sans-serif;
}
ion-toolbar{
    --background:#242629;
    color: #FFFFFF;
    font-family: League Spartan;
    font-size: 20px;
}
.white-icons{
    color:#fff;
}
ion-content {
    --background: #17191b;
}
.settingbtn {
    --background:#434343 !important;
    font-weight: bold;
    margin-top: 20%;
    font-family: League Spartan;
    margin-left: 20px;;
}
.devicesection{
    margin-left:80%;
    margin-top:85%;
}
.addbtn{
    --background:#791878 !important;
    font-weight: bold;
    width: 56px;
    height: 56px;
    top: 744px;
    left: 316px;
    gap: 0px;
    opacity: 0px;
}
ion-card{
    --background: #242629;
    margin-top: 5%;
    border-radius: 15px;
    text-align:center;
    margin-bottom: -10px;
}
.cardbtn {
    width: 32px;
    height: 32px;
    --background:#791878 !important;
    font-weight: bold;
    font-family: League Spartan;
    margin-left: -130px;
}
.cardtitle{
    font-family: League Spartan;
    font-size: 20px;
    font-weight: 500;
    line-height: 18.4px;
    text-align: left;
    margin-left: -45px;
    --color: #FFFFFF;
}
.cardsubtitle{
    font-family: League Spartan;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #B2B2B2;
    margin-left: -45px;
}
ion-card-content{
    background: #2D3236;
    height: 44px !important;
}
ion-card-content ion-button {
  width: 150px;
  text-transform: none;
  font-family: 'League Spartan', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.72px;
  text-align: center;
  color: #FFFFFF;
}

.bordered-button {
  border-right: 1px solid #242629; /* Adds a 1px right border */
}

.bordered-button.no-border {
  border-right: none; /* Removes the border from the last button */
}
.cardicons{
    width: 20px;
    height: 20px;
    padding: 1.67px;
    gap: 0px;
    opacity: 0px;
}
.card-white-icons{
    color: #B2B2B2;
    width: 24px;
    height: 24px;
}
ion-item{
    margin-top: 10px;
    --background: #242629 !important;
}
ion-card-header ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}
.time-text{
  font-family: League Spartan;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #B2B2B2;
}
.time-label {
  font-family: League Spartan;
  font-size: 20px;
  font-weight: 500;
  line-height: 18.4px;
  text-align: left;
  color: #FFFFFF;
}
.tgbtn{
  text-transform: none;
  font-family: League Spartan;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #FFFFFF;
}
.weekdays {
  width: 393px;
  height: 56px;
  top: 113px;
  background: #242629;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px; /* Adds space between the buttons */
  margin-left: -12px;
}

.eachday {
  width: 40px !important;
  height: 30px !important;
  border-radius: 90px; /* Fully rounded corners */
  --background:transparent !important;
  border: 1px solid #63676F;
  text-transform: none;
  color: #ffffff; /* Text color */
  font-size: 12px; /* Adjusted text size */
  display: flex;
  align-items: center;
  justify-content: center;
}.eachdayf {
  width: 35px !important;
  height: 30px !important;
  border-radius: 90px; /* Fully rounded corners */
  --background:#791878 !important;
  text-transform: none;
  color: #ffffff; /* Text color */
  font-size: 12px; /* Adjusted text size */
  display: flex;
  align-items: center;
  justify-content: center;
}.eachdayl {
  width: 35px !important;
  height: 30px !important;
  border-radius: 90px; /* Fully rounded corners */
  --background:#791878 !important;
  text-transform: none;
  color: #ffffff; /* Text color */
  font-size: 12px; /* Adjusted text size */
  display: flex;
  align-items: center;
  justify-content: center;
}
.onoffbtn {
  margin-right: 5px;
  --track-background: #6b6565;
  --track-background-checked: rgba(var(--ion-color-primary-rgb, 0, 84, 233), 0.5);
  --border-radius: 14px;
  --handle-background: #ffffff;
}
ion-toggle.onoffbtn::part(native) .toggle-icon {
    width: 78px !important;
    height: 20px !important;
}




