<ion-toolbar class="black-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="white-icons" defaultHref="/"></ion-back-button>
    </ion-buttons>
    Schedule    
  <ion-buttons slot="end">
    <ion-toggle  class="onoffbtn" color="success" labelPlacement="start">Daily</ion-toggle>
  </ion-buttons>
</ion-toolbar>


<ion-content [fullscreen]="true">

<div class="weekdays">
  <ion-button shape="round" class="eachdayf">Sun</ion-button>  
  <ion-button shape="round" class="eachday">Mon</ion-button>  
  <ion-button shape="round" class="eachday">Tue</ion-button>  
  <ion-button shape="round" class="eachday">Wed</ion-button>  
  <ion-button shape="round" class="eachday">Thu</ion-button>  
  <ion-button shape="round" class="eachday">Fri</ion-button>  
  <ion-button shape="round" class="eachdayl">Sat</ion-button>  
</div>

<ion-card>
<ion-card-header>
  <ion-item lines="none">
    <ion-label>
      <span class="time-text"> Turn On </span><br> 
      <span class="time-label">10:30 PM</span>
    </ion-label>
    <ion-icon class="card-white-icons" name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>  
  <ion-item lines="none">
    <ion-label>
      <span class="time-text"> Turn Off </span><br> 
      <span class="time-label">05:30 AM</span>
    </ion-label>
    <ion-icon class="card-white-icons" name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
</ion-card-header>

<ion-card-content>
  <ion-button fill="clear" class="bordered-button">
    <ion-icon class="cardicons" slot="icon-only" src="assets/svgicon/stop.svg"></ion-icon> Stop
  </ion-button>
  <ion-button fill="clear" class="bordered-button no-border">
    <ion-icon class="cardicons" slot="icon-only" src="assets/svgicon/delete.svg"></ion-icon> Delete
  </ion-button>
</ion-card-content>
</ion-card>


<div class="devicesection">
    <ion-button class="addbtn" shape="round" [routerLink]="['/schedule-set-time-turn-on']"> 
      <ion-icon class="white-icons" slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
</div>


<ion-button expand="full" shape="round" (click)="presentModal()"> Open Modal For test
</ion-button>


</ion-content>

