
<ion-content [fullscreen]="true">

<div class="devicesection">
    <h1>Device Paired</h1>
    <h6>Current Status / information</h6>
</div>

<ion-row>
  <ion-col size="4"></ion-col>
  <ion-col size="6">
      <div class="midcircle">
            <img class="circleimg" src="assets/images/air-conditionar.png" height="50" width="50">
      </div>
  </ion-col>
  <ion-col size="2"></ion-col>
</ion-row>

  <div class="ioninput">
    <ion-input class="inputbtn" placeholder="Device's Nickname" expand="full"></ion-input>
  </div>

  <ion-button class="nextbtn" expand="full" shape="round" [routerLink]="['/select-ac']"> Next
    <ion-icon class="white-icons" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>


</ion-content>
