
<ion-content [fullscreen]="true">

<div class="devicesection">
    <h1>Set your comfort zone</h1>
    <h6>Some informative text</h6>
</div>

<div class="devicesection">
    <ion-card>
        <ion-button class="addbtn" shape="round" [routerLink]="['/home-device-added']"> <ion-icon class="white-icons" slot="icon-only" src="assets/svgicon/humidity.svg"></ion-icon></ion-button> <span class="card-text"> Set preferred temperatures range </span>
      <ion-card-content>
        <div class="bar">
          <ion-range id="dual-range" dual-knobs>  </ion-range> 
        </div>
    </ion-card-content>
  </ion-card>    

  <ion-card>
        <ion-button class="addbtn" shape="round" [routerLink]="['/home-device-added']"> <ion-icon class="white-icons" slot="icon-only" src="assets/svgicon/temperature.svg"></ion-icon></ion-button> <span class="card-text"> Set preferred humidity range </span>
      <ion-card-content>
        <div class="bar">
          <ion-range id="dual-range" dual-knobs></ion-range> 
      </div>
    </ion-card-content>
  </ion-card>   
</div>

  <ion-button class="nextbtn" expand="full" shape="round" [routerLink]="['/select-ac']"> Next
    <ion-icon class="white-icons" slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-button>


</ion-content>
