@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body, ion-content {
  font-family: 'League Spartan', sans-serif;
}

ion-toolbar{
    --background:#242629;
    color: #FFFFFF;
    font-family: League Spartan;
}
.white-icons{
    color:#fff;
}
h1{
    font-family: League Spartan;
    font-size: 34px;
    font-weight: 600;
    line-height: 42px;
    text-align: left;
    color: #FFFFFF;
    text-align: center;
    }
h6{
    font-family: League Spartan;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    text-align:center;
    color: #B2B2B2;
}
.white-icons{
    color:#fff;
}
ion-content {
    --background: #17191b;
}
.devicesection{
    margin-top: 50px;
    --background: #242629 !important;
}
.card-text{
    color:#8a8b8b;
    font-size:12px;
    padding-top:15px;
}
.nextbtn{
    --background:#791878 !important;
    text-transform:none;
    padding:15px;
    height: 82px;
    margin-top:60%;
}

ion-card{
    height:110px;
    --background: #242629;
    --color: #fff;
    border-radius: 20px;
    margin-left:25px;
    margin-right:25px;
}
.addbtn{
    --background:#791878 !important;
    font-weight: bold;
    margin-left:5px;
}
.progressbar{
    --background:#63676f;
}
.bar{
    margin-top:10px;
}