
h1{
    font-size: 20px;
    line-height:15px;
    padding-left:10px;
    color:#cb5858;
    text-align:center;
    font-weight:bold;
}
h6{
    font-size: 11px;
    line-height:5px;
    padding-left:10px;
    color:#8a8b8b;
    text-align:center;
}
.blueicon{
    margin-top:15px;
    margin-left:-15px;
}
.white-icons{
    color:#fff;
}
ion-content {
    --background: #17191b;
}
.devicesection{
    margin-top: 120px;
    --background: #242629 !important;
}
.nextbtn{
    --background:#791878 !important;
    text-transform:none;
    padding:15px;
    height: 75px;
    margin-top:50%;
}
.circlesection{
    margin-top:50%;
}
.circleimg{
    margin-top:30px;
}
.midcircle{
    
}

