@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body, ion-content {
  font-family: 'League Spartan', sans-serif;
}

h1{
    padding-left:10px;
    color:#FFFFFF;
    font-family: 'League Spartan';
    font-size: 34px;
    font-weight: 600;
    line-height: 42px;
}
h6{
    font-size: 11px;
    line-height:5px;
    padding-left:10px;
    color:#B2B2B2;
    text-align:center;
    font-family: League Spartan;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;

}
.devicesection{
    text-align: center;
     margin-top: 80px;
}
.white-icons{
    color:#fff;
}
ion-content {
    --background: #17191b;
}

.ioninput {
  margin-top: 60px;
}
.inputbtn {
  width: 353px;
  height: 58px;
  border-radius: 90px 90px 90px 90px; 
  padding: 0px 24px; 
  background-color: #242629; 
  color: #63676F; 
  border: 1px solid #2D323A; 
  margin-left:20px;
  margin-bottom:10px;
  --padding-start: 10px;
  position: relative;
}
.inputbtn::part(icon) {
  position: absolute;
  right: 10px; /* Adjust right position as needed */
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px; /* Adjust icon size if needed */
}

.inputbtn .select-placeholder {
  padding-left: 10px; /* Adjust padding to avoid overlap with the icon */
}


.nextbtn{
    width: 353px;
    --background:#791878 !important;
    text-transform:none;
    padding:15px;
    height: 83px;
    margin-top:230px;
    margin-left: 20px;
}
.modeltext{
    margin-top: 25px;
}
