<ion-toolbar class="black-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="white-icons" defaultHref="/"></ion-back-button>
    </ion-buttons>
    Schedule    
  <ion-buttons slot="end">
    <ion-toggle  class="onoffbtn" color="success" labelPlacement="start">Daily</ion-toggle>
  </ion-buttons>
</ion-toolbar>


<ion-content [fullscreen]="true">

<div class="weekdays">
  <ion-button shape="round" class="eachdayf">Sun</ion-button>  
  <ion-button shape="round" class="eachday">Mon</ion-button>  
  <ion-button shape="round" class="eachday">Tue</ion-button>  
  <ion-button shape="round" class="eachday">Wed</ion-button>  
  <ion-button shape="round" class="eachday">Thu</ion-button>  
  <ion-button shape="round" class="eachday">Fri</ion-button>  
  <ion-button shape="round" class="eachdayl">Sat</ion-button>  
</div>

<ion-card>
<ion-card-header>
  <ion-item lines="none">
    <ion-label>
      <span class="time-text"> Turn On </span><br> 
      <span class="time-label">10:30 PM</span>
    </ion-label>
    <ion-icon class="card-white-icons" name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>  
  <ion-item lines="none">
    <ion-label>
      <span class="time-text"> Turn Off </span><br> 
      <span class="time-label">05:30 AM</span>
    </ion-label>
    <ion-icon class="card-white-icons" name="chevron-forward-outline" slot="end"></ion-icon>
  </ion-item>
</ion-card-header>
</ion-card>


<ion-card>
<ion-card-header>
  <ion-title>Turn Off</ion-title> 
</ion-card-header>

<ion-row>
  <ion-col size="3">
    <ion-input
      class="inputbtn"
      type="number"
      [(ngModel)]="hour"
      placeholder="HH"
      min="1"
      max="12"
      maxlength="2"
      inputmode="numeric"
    ></ion-input>
  </ion-col>

  <ion-col size="3">
    <ion-input
      class="inputbtn"
      type="number"
      [(ngModel)]="minute"
      placeholder="MM"
      min="0"
      max="59"
      maxlength="2"
      inputmode="numeric"
    ></ion-input>
  </ion-col>

  <ion-col size="6">
<ion-segment [(ngModel)]="timePeriod" mode="ios" class="custom-segment">
  <ion-segment-button value="AM" class="am-button">
    AM
  </ion-segment-button>
  <ion-segment-button value="PM" class="pm-button">
    PM
  </ion-segment-button>
</ion-segment>


  </ion-col>
</ion-row>



  <ion-button class="nextbtn" expand="full" shape="round" [routerLink]="['/schedule-set-time-turn-off']"> Update
  </ion-button>

</ion-card>


</ion-content>

