<ion-header [translucent]="true">
  <ion-toolbar class="black-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="white-icons" defaultHref="/"></ion-back-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3> accel smart </h3>
  <h1> Let's make your <br> AC smart today </h1>

  <div class="ioninput">
    <ion-input placeholder="  Enter new password " shape="round">  </ion-input> <br>
    <ion-input placeholder="  Enter the password again" shape="round">  </ion-input>
  </div>

    <ion-button class="nextbtn" shape="round" > Next <ion-icon class="white-icons" slot="end" name="chevron-forward-outline"></ion-icon></ion-button>
 

</ion-content>

