<ion-toolbar class="black-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="white-icons" defaultHref="/"></ion-back-button>
    </ion-buttons>    
</ion-toolbar>

<ion-content [fullscreen]="true">

  <img class="accelimg" src="assets/images/ASG_Accel Smart logo 1.png">
  <h1> Let's make your <br> AC smart today </h1>

  <div class="ioninput">
    <ion-input class="inputbtn" type="password" placeholder="Enter new password" ></ion-input>
    <ion-input class="inputbtn" type="password" placeholder="Enter the password again" >  </ion-input>
  </div>

    <ion-button class="nextbtn" shape="round" > Next <ion-icon class="white-icons" slot="end" name="chevron-forward-outline"></ion-icon></ion-button>
 

</ion-content>

