@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

body, ion-content {
  font-family: 'League Spartan', sans-serif;
}
.accelimg{
    padding-left:20px;
    color:#7b1879;
    font-size:17px;
}
h1{
    padding-left:20px;
    color: #FFFFFF;
    font-family: League Spartan;
    font-weight:600;
    line-height:42px;
    font-size:34px;
}

ion-toolbar{
    --background:#17191B;
}

.white-icons{
    color:#ffffff;
}

ion-content {
    --background: #17191b;
}

.ioninput {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px; // Adjust the gap between the inputs
}
.inputbtn {
  width: 353px;
  height: 58px;
  border-radius: 90px 90px 90px 90px; 
  padding: 20px 24px; 
  background-color: #242629; 
  color: #63676F; 
  border: 1px solid #2D323A; 
  margin-left:20px;
  --padding-start: 20px;
}
ion-input {
  --background: transparent !important; // Make the background transparent to avoid overriding
  --padding-start: 0px;
  --padding-end: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  color: inherit; // Inherit color from .inputbtn
  text-transform: none;
  width: 100%; // Ensure the input fills the button
  height: 100%; // Ensure the input fills the button
}

.nextbtn{
 width:135px;
 height: 80px;
 padding:15px;
  font-family: League Spartan;
 --background: #791878 !important;
 text-transform: none;
 margin-left: 10px;
 color: #FFFFFF;
}

.google-sign{
    text-align:center;
    margin-top: 55%;
    text-transform: none;
}

.ortext{
    color:#ffffff;
    margin-bottom:10px;
}
.signbtn{
    height: 50px;
    padding-left:15px;
    padding-right:15px;
    --background: #242629;
    text-transform:none;
}

.privacy-policy{
    margin-top:25px;
}
.privacy-policy p{
    font-size:12px;
    color:#545556;
}
.prvtext{
     color:#a5a2a2;
}
.trmtext{
     color:#a5a2a2;
}