<ion-header [translucent]="true">
  <ion-toolbar class="black-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="white-icons" defaultHref="/"></ion-back-button>
    </ion-buttons>    
    <ion-title>

    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon class="white-icons" slot="icon-only" name="location-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="white-icons" slot="icon-only" name="time-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="white-icons" slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">
    <div class="btnarea">
      <ion-button class="swingbtn" expand="full" shape="round">V. Swing <ion-button shape="round" class="onoffbtn"> ON </ion-button> </ion-button>

      <ion-button class="ai-button" shape="round"> <ion-icon slot="end" class="white-icons" slot="icon-only" name="location-outline"></ion-icon> Turn Off  </ion-button>  

      <ion-button class="offbtn" shape="round"> <ion-button class="officonbtn" shape="round"> <ion-icon class="white-icons" slot="icon-only" name="time-outline"></ion-icon> </ion-button>  OFF </ion-button> 
    </div>
  </div>

</ion-content>
