<ion-header [translucent]="true">
  <ion-toolbar class="black-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="white-icons" defaultHref="/"></ion-back-button>
    </ion-buttons>    
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon class="white-icons" slot="icon-only" name="location-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="white-icons" slot="icon-only" name="time-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="white-icons" slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div class="bedroom-ac-section">
    <div class="bedroom-ac-left">
     <img src="assets/images/air-conditionar.png" alt="Air Conditioner">
      <div>
        <span class="item">Bedroom AC</span>
        <span class="item-dtl">Daikin AXRT0082AR</span>
      </div>
    </div>
    <div class="bedroom-ac-right">
      <ion-icon class="white-icons" name="chevron-down-outline"></ion-icon>
    </div>
  </div>

  <div id="container">
   <div class="temp-controller">
      <circle-progress
        [percent]="temperaturePercent"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
      ></circle-progress>
      <div class="temp-display">
        <h2>{{ temperature }}°C</h2>
      </div>
    </div>
  </div>

</ion-content>

