<ion-header [translucent]="true">
  <ion-toolbar class="black-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="white-icons" defaultHref="/"></ion-back-button>
    </ion-buttons>    
    <ion-title>

    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon class="white-icons" slot="icon-only" name="location-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="white-icons" slot="icon-only" name="time-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon class="white-icons" slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
