<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Draggble circle slide </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h6 style="text-align: center;"> Work in progress - this is functional page for draggble testing</h6>

  <button class="nextbtn" shape="round" [routerLink]="['/test-remote']"> Click here to Next Page </button>

<div class="circular-slider" (mousedown)="startDrag($event)" (mousemove)="drag($event)" (mouseup)="stopDrag()" (mouseleave)="stopDrag()">
  <svg width="200" height="200" viewBox="0 0 200 200">
    <circle cx="100" cy="100" r="80" stroke="lightgrey" stroke-width="15" fill="none" />
    <circle cx="100" cy="100" r="80" stroke="blue" stroke-width="10" fill="none" [attr.stroke-dasharray]="dashArray" [attr.stroke-dashoffset]="dashOffset" />
    <circle #knob [attr.cx]="knobX" [attr.cy]="knobY" r="10" fill="green" />
  </svg>
</div>









<!-- <div (mousedown)="startDrag($event)" (mousemove)="drag($event)" (mouseup)="stopDrag()" (mouseleave)="stopDrag()">

<div class="temperature-control" (mousedown)="startDrag($event)" (mousemove)="drag($event)" (mouseup)="stopDrag()" (mouseleave)="stopDrag()">
    <div class="half-circle-wrapper">
        <svg width="300" height="300" viewBox="0 0 200 200">
            <circle cx="100" cy="100" r="80" stroke="lightgrey" stroke-width="10" fill="none" />
            <circle cx="100" cy="100" r="80" stroke="red" stroke-width="10" fill="none" stroke-dasharray="502" stroke-dashoffset="0" />
            <circle #knob [attr.cx]="knobX" [attr.cy]="knobY" r="10" fill="green" />
        </svg>
    </div>
</div>
</div> -->


</ion-content>
