/* home.page.scss */

.circle {
  width: 270px;
  height: 270px;
  border: 10px solid grey;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
